img {
  width: 350px;
  /* width: 200px;  */
  float: left;
  flex-direction: column-reverse;
  margin-right: 10px;
}

button {
  /* background-color: lightgrey;
  color: black; */
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: lightgrey;
  color: black;
  padding: 8px 20px;
  margin: auto;
  text-align: center;
  display: inline-block !important;
  text-decoration: none;
}
/* div {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 5%;
  padding-top: 5%;
} */
